fastapi
uvicorn
uvloop
cython
git+https://github.com/MagicStack/httptools.git@v0.4.0
dnspython
pymongo
motor
aiohttp
pynacl
discord-webhook
nest_asyncio
websockets
discord.py
cool-utils
profanityfilter
